<html>
<body>
<%-include('Nav')-%>
<br>
<center><h1>Create Account Page</h1></center><hr>
<div className="row">
<center>
<div class="col-md-1"></div>
<h3><%=msg%></h3>
<div class="col-md-6">
<div class="row">
<div class="col">
<form>                        
Enter Pin
<input type="text" name= "p" class="form-control" ></input>
</div>
</div><br>
<div class="row">
<div class="col">
Enter Your Name
<input type="text" name="n" class="form-control" ></input>
</div>
<div class="col">
Enter Father's Name
<input type="text" name="f" class="form-control"></input>
</div>
</div><br>
<div class="row">
<div class="col">
Enter Your Email
<input type="text" name="em" class="form-control" ></input>
</div>
<div class="col">
Enter Your Number
<input type="text" name="ph" class="form-control"></input>
</div>
</div><br>
        
<div class="row">
<div class="col">
Enter Gender
<input type="text" name="g" class="form-control" ></input>
</div>
</div><br>
<div class="col"></div>
Enter Country
<input type="text" name="c" class="form-control"  ></input>
<br>
<div class="row">
<div class="col">
Enter State
<input type="text" name="s" class="form-control"  ></input>
</div>
<br>
<div class="col">
Enter City
<input type="text" name="ct" class="form-control"  ></input>
<br>
</div>
                        
<div class="row">
 <div class="col">
 Enter Amount
<input type="text" name="a" class="form-control" ></input>
<br>
</div>
</div>
<div class="col"></div>
<input type="submit" name="submit" class="btn btn-success" value="Create Your Account" onClick=createAccount></input>
                                
</form>                                   
<br>

</center>
</div>
</div>
</div>
</div>
</div>
</body>
</html>